<div class="layout-topbar-start">
  <img src="http://localhost:1000/images/avatar/logo.png" alt="Logotipo" class="h-8" />
  <a class="layout-menu-button" (click)="toggleSidebar()">
    <i class="pi pi-chevron-right"></i>
  </a>
</div>

<div class="layout-topbar-end">
  <div class="layout-topbar-actions-start">
    <p-megamenu [model]="menuItems" styleClass="layout-megamenu" breakpoint="0px"></p-megamenu>
    <app-setting [visible]="showSettings" (closed)="showSettings = false"></app-setting>
  </div>

  <div class="layout-topbar-actions-end">
    <ul class="layout-topbar-items">
      <li>
        <a pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-scalein" leaveToClass="hidden"
          leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true">
          <img src="http://localhost:1000/images/avatar/amyelsner.png" alt="avatar" class="w-8 h-8" />
        </a>
        <div class="hidden">
          <ul class="list-none p-0 m-0">
            <li>
              <a class="cursor-pointer flex items-center hover:bg-emphasis duration-150 transition-all px-4 py-2" (click)="toggleSettings()" pRipple>
                <i class="pi pi-cog mr-2"></i>
                <span>Settings</span>
              </a>
            </li>
            <!-- <li>
              <a class="cursor-pointer flex items-center hover:bg-emphasis duration-150 transition-all px-4 py-2"
                pRipple>
                <i class="pi pi-file-o mr-2"></i>
                <span>Terms of Usage</span>
              </a>
            </li>
            <li>
              <a class="cursor-pointer flex items-center hover:bg-emphasis duration-150 transition-all px-4 py-2"
                pRipple>
                <i class="pi pi-compass mr-2"></i>
                <span>Support</span>
              </a>
            </li> -->
            <li>
              <a (click)="logout()"
                class="cursor-pointer flex items-center hover:bg-emphasis duration-150 transition-all px-4 py-2"
                pRipple>
                <i class="pi pi-power-off mr-2"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
</div>
