<aside class="w-64 bg-surface-100 dark:bg-surface-800 h-full shadow-md p-4">
  <nav class="flex flex-col gap-4 text-surface-700 dark:text-white">
    <a routerLink="/menu/dashboard" routerLinkActive="font-bold text-primary" class="hover:text-primary transition">
      Dashboard
    </a>
    <a routerLink="/menu/modulo-comercial/atencion-reclamos" routerLinkActive="font-bold text-primary" class="hover:text-primary transition">
      Atencion cliente
    </a>
    <a routerLink="/menu/area2" routerLinkActive="font-bold text-primary" class="hover:text-primary transition">
      Área 2
    </a>
    <a routerLink="/menu/area3" routerLinkActive="font-bold text-primary" class="hover:text-primary transition">
      Área 3
    </a>
  </nav>
</aside>
